{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Hardware Store</title>

</head>

<body>
    <div class="menu">
        <div class="principal">
            <a href="{% url 'products:list' %}">
                <div class="logo"><img src="{%static 'icons/logo.png'%}" alt=""></div>
            </a>
            <div class="title">HARDWARE STORE</div>
            <div class="user"><img src="{%static 'icons/user.png'%}" alt=""></div>
        </div>
        <div class="options">
            <nav>
                <ul>
                    <li><a href="{%url 'products:register_product' %}"> Sell</a></li>
                    <li><a href="{%url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>

    {% block body %}{% endblock body %}
</body>

</html>